<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="change-statusbar-color-plugin"
  version="1.0.0">
  <name>Change Status Bar Color Plugin</name>
  <description></description>
  <license>MIT</license>
  <keywords></keywords>
  <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
  <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>


  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ChangeStatusBarCordovaPlugin">
        <param name="android-package" value="com.outsystems.experts.ChangeStatusBarCordovaPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="res/values/themes.xml" parent="/*">
      <style name="Theme.AppCompat.NoActionBar">
        <item name="windowActionBar">false</item>
        <item name="windowNoTitle">true</item>
        <item name="android:statusBarColor">@color/cdv_splashscreen_background</item>
        <item name="android:windowLightStatusBar">true</item>
      </style>
    </config-file>

  </platform>

</plugin>